<nav>
    <a href="/logout">Logout</a>
    <a href="/viewProducts">Ver Productos</a>
    <a href="/addProduct">Agregar Productos</a>

    <a href="/viewCart">Ver Carrito</a>
    <a href="/viewProfile">Ver Perfil</a>
</nav>