
<form id="userForm" action="/auth/signup" method="post" class="userData">
  <h2>Datos del usuario</h2>
  <input type="text" name="username" id="user" placeholder="e-Mail" />
  <input type="password" name="password" id="password" placeholder="Password" />
  <input type="text" name="name" id="name" placeholder="Nombre" />
  <input type="text" name="lastName" id="lastName" placeholder="Apellido" />
  <input type="text" name="phoneNumber" id="phoneID" placeholder="Numero de Telefono" />
  <button id="userSave" class="buttonSub">Guardar usuario</button>
  <a href="/login/goa">Googleauth</a>
  {{#if isError}}
    <p class="errorMessage">{{message}}</p>
  {{/if}}
</form>