<nav>
    <a href="/logout">Logout</a>
    <a href="/viewProducts">Ver Productos</a>
    <a href="/addProduct">Agregar Productos</a>

    <a href="/viewCart">Ver Carrito</a>
    <a href="/viewProfile">Ver Perfil</a>
</nav>
<section class="salesScreen">
    
<h2 class="salesScreenTitle">Compra ingresada</h2>
<p class="salesScreenP">Su pedido esta siendo procesado</p>
</section>